{% set inputs = [] %}
{% set fieldItr = 0 %}
{% for inputName, field in contentType.getFields() %}
	{% if((field.type == "text") and (fieldItr < 4) )%}
		{% set inputs = inputs|merge([inputName]) %}
		{% set fieldItr = fieldItr+1 %}
	{% endif %}
{% endfor %}

<tr>
	<td><input type="checkbox" name="list[content]" value="{{content.getID()}}"></td>
	<td>{{content.getID()}}</td>
	{% for i, input in inputs %}
		{% if (i == 0) %}
		<td><a href="{{ app.path.link('/admin/content/edit/' ~ contentType.getSlug() ~ '/' ~ content.getValue(contentType.getSlugName()) ) }}">{{ content.getValue(input) }}<a/></td>
		{% else %}
		<td>{{ content.getValue(input) }}</td>
		{% endif %}
	{% endfor %}
</tr>