{% set pages = ceil(count/limit) %}


{% if(pages >= 1) %}
<div class="pagination pagination-centered">
  <ul class="pagination">

  	{% for i in 1..(pages) %}
  		{% set _path %}
  		{{ path }}{{attr}}={{i}}{% if(app.config.pager.limit != limit) %}&limit={{ limit }}{% endif %}
  		{% endset %}
  		<li><a href="{{ app.path.link(_path) }}">{{i}}</a></li>

  	{% endfor %}
  </ul>
</div>
{% endif %}