{% set files = value|default([]) %}
{% set vars = {
    dropzone: {
    	url: app.path.link('/admin/upload')~'?type=file',
    	type: 'file'
    }
} %}
<div 
	class="form-group"
	data-field-type="filelist"
	data-files-url="{{app.path.files_url}}"
	data-dz-url="{{vars.dropzone.url}}"
	data-dz-type="{{vars.dropzone.type}}"
	>


	<label for="{{name}}" class="col-sm-2 control-label">{{ label|default(name) }}</label>

	<div style="display: none" class="elements">
	<input data-template type="hidden" data-name="{{inputKey}}[_id_][_type_]" value="">
	{% for index, file in files %}
	<input data-file-path data-file-index="{{ index }}" type="hidden" name="{{inputKey}}[{{ index }}][path]" value="{{file.path}}">
	<input data-file-name data-file-index="{{ index }}" type="hidden" name="{{inputKey}}[{{ index }}][name]" value="{{file.name}}">
	{% endfor %}
	</div>
	<div class="col-sm-10">
		<div class="row">
			<div class="dropzone"></div>
		</div>

		<p class="help-block">{{ help|default('') }}</p>
	</div>
</div>