{% set fieldVars = value|default({path: null, name: {}}) %}
{% set vars = {
    dropzone: {
    	url: app.path.link('/admin/upload')~'?type=file',
    	type: 'file'
    },
    currentFile: fieldVars.path,
    currentName: fieldVars.name
} %}
<div 
	class="form-group {% if(vars.currentFile) %} has-image {%endif%}"
	data-field-type="file"
	data-files-url="{{app.path.files_url}}"
	data-dz-url="{{vars.dropzone.url}}"
	data-dz-type="{{vars.dropzone.type}}"
	>


	<label for="{{name}}" class="{% if big %} col-sm-12 {% else %}col-sm-2{% endif %} control-label" {% if big %} style="text-align: left"{% endif %}>{{ label|default(name) }}</label>
	<input class="image_path" data-file-path type="hidden" name="{{inputKey}}[path]" value="{{vars.currentFile}}">
	
	<div class="{% if big %} col-sm-12 {% else %}col-sm-10{% endif %}">
		<div class="row preview">
			<div class="{% if big %} col-lg-6 {% else %}col-lg-3{% endif %}">
				<div class="input-group" style="width: 100%; margin: 0px 0px 10px 0px;">
					<input class="form-control1" data-file-path-show type="text" disabled="disabled" name="" value="{{ app.path.files_url ~ '/' ~ vars.currentFile }}">
				</div>
			</div>
			<div class="{% if big %} col-lg-6 {% else %}col-lg-7{% endif %}">
				<div class="input-group" style="width: 100%; margin: 0px 0px 10px 0px;">
					<input type="text" name="{{inputKey}}[name]" class="form-control1" value="{{vars.currentName|default('')}}" placeholder="Megnevezés" data-file-name>
					<div class="input-group-addon"><i class="fa fa-pencil"></i></div>
				</div>
			</div>
			<div class="col-lg-1">
			<button data-remove class="btn btn-danger change_image">Törlés</button>
			</div>
		</div>

		<div class="row uploader">
			<div class="dropzone"></div>
		</div>
		<p class="help-block">{{ help|default('') }}</p>
	</div>
</div>