{% set images = value|default([]) %}
{% set vars = {
    dropzone: {
    	url: app.path.link('/admin/upload'),
    	type: 'image'
    }
} %}
<div 
	class="form-group"
	data-field-type="imagelist"
	data-files-url="{{app.path.files_url}}"
	data-dz-url="{{vars.dropzone.url}}"
	data-dz-type="{{vars.dropzone.type}}"
	>


	<label for="{{name}}" class="col-sm-2 control-label">{{ label|default(name) }}</label>

	<div style="display: none" class="elements">
	<input data-template type="hidden" data-name="{{inputKey}}[_id_][_type_]" value="">
	{% for index, image in images %}
	<input data-image-path data-image-index="{{ index }}" type="hidden" name="{{inputKey}}[{{ index }}][path]" value="{{image.path}}">
	<input data-image-title data-image-index="{{ index }}" type="hidden" name="{{inputKey}}[{{ index }}][title]" value="{{image.title}}">
	<input data-image-alt data-image-index="{{ index }}" type="hidden" name="{{inputKey}}[{{ index }}][alt]" value="{{image.alt}}">
	{% endfor %}
	</div>
	<div class="col-sm-10">
		<div class="row">
			<div class="dropzone"></div>
		</div>

		<p class="help-block">{{ help|default('') }}</p>
	</div>
</div>