
<div class="form-group" data-field-type="{{ data_field_type|default('select') }}" data-ajax="{% if (ajax) %}true{% else %}false{% endif %}">
	{% if label != false %}
	<label for="{{name}}" class="col-sm-2 control-label">{{ label|default(name) }}</label>
	{% endif %}
	<div class="{% if label != false %} col-sm-12 {% else %} col-sm-10 {% endif %}">
		{% if(foreign) %}
		{% set keyField = keyKey|default('id') %}
		{% set valueField =  valueKey|default('title') %}
		<div class="input-group" style="width: 100%; margin: 0px;">
			{% if(ajax) %}
				{% set options = value %}
			{% else %}
				{% set options = getContents(foreign) %}
			{% endif %}
			<select {% if multiple %} name="{{ inputKey }}[]"  multiple="multiple" {% else %} name="{{ inputKey }}" {% endif%}  style="width: 100%" data-contenttype="{{ foreign }}" data-key="{{ keyField }}" data-value="{{ valueField }}">
				<option>-</option>
			{% for k, option in options %}
				<option value="{{ attribute(option, keyField) }}" {% if value|isKeyContained( keyField, attribute(option, keyField) ) %} selected {% endif %}>{{ attribute(option, valueField) }}</option>
			{% endfor %}
			</select>
		</div>
		{% else %}
			{% set options = call_provider(options) %}
		<div class="input-group" style="width: 100%; margin: 0px;">
			<select {% if multiple %} name="{{ inputKey }}[]"  multiple="multiple" {% else %} name="{{ inputKey }}" {% endif%}  style="width: 100%">
				{% if valueKey is defined %}
				<option value="0" {% if value==null %} selected {% endif %}>-</option>
				{% else %}
				<option value="0" {% if value==null %} selected {% endif %}>-</option>
				{% endif %}
			{% for k, option in options %}
				{% if valueKey is defined %}
				<option value="{{k}}" {% if (value==k) and (value != null) %} selected {% endif %}>{{ attribute(option, valueKey) }}</option>
				{% else %}
				<option value="{{k}}" {% if (value==k) and (value != null) %} selected {% endif %}>{{option}}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
		{% endif %}
		<p class="help-block">{{ help|default('') }}</p>
	</div>
</div>