<div class="form-group has-success"  data-field-type="slug">
	<label for="{{name}}" class="col-sm-2 control-label">{{ label|default(name) }}</label>
	<div class="col-sm-10">
		<div class="input-group" style="width: 100%;margin: 0px">
			<span class="input-group-addon">
				{{ app.config.host ~ '/' ~ content.getContentType().getSlug() ~ '/' }}
			</span>
			<input type="text" name="{{ inputKey }}" class="form-control1" id="{{name}}" value="{{value|default('')}}" placeholder="{{ placeholder|default(name ~ '...') }}" disabled>
		</div>
	</div>
</div>