
<div class="form-group" data-field-type="text">
	{% if label != false %}
	<label for="{{name}}" class="col-sm-2 control-label">{{ label|default(name) }}</label>
	{% endif %}
	<div class="col-sm-10">
		<div class="input-group" style="width: 100%; margin: 0px;">
			<input type="text" name="{{ inputKey }}" class="form-control1" id="{{name}}" value="{{value|default('')}}" placeholder="{{ placeholder|default(name ~ '...') }}">
			<div class="input-group-addon">
				{% if affix %}
					{{ affix }}
				{% else %}
					<i class="fa fa-pencil"></i>
				{% endif %}
			</div>
		</div>
		<p class="help-block">{{ help|default('') }}</p>
	</div>
</div>