
<div class="form-group" data-field-type="select">
	{% if label != false %}
	<label for="{{name}}" class="col-sm-2 control-label">{{ label|default(name) }}</label>
	{% endif %}
	<div class="{% if label != false %} col-sm-12 {% else %} col-sm-10 {% endif %}">
		<div class="input-group" style="width: 100%; margin: 0px;">
			<select  name="{{ inputKey }}[]"  multiple="multiple"  style="width: 100%">
			{% set permissions = app.content.getPermissions() %}
			{% for permission in permissions %}
				<option value="{{ permission }}" {% if value|in_array(permission) %} selected {% endif %}>{{permission}}</option>
			{% endfor %}
			</select>
		</div>
		<p class="help-block">{{ help|default('') }}</p>
	</div>
</div>